{% load static %}
<div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
  <aside>
    <div class="sidebar-box">
      <div class="user">
        <figure>
          <a href="#"><img src="{% static 'img/author/img1.jpg' %}" alt="" /></a>
        </figure>
        <div class="usercontent">
          <h3>Hello William!</h3>
          <h4>Administrator</h4>
        </div>
      </div>
      <nav class="navdashboard">
        <ul>
          <li>
            <a href="{% url 'dashboard' %}">
              <i class="lni-dashboard"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="{% url 'account-profile-setting' %}">
              <i class="lni-cog"></i>
              <span>Profile Settings</span>
            </a>
          </li>
          <li>
            <a href="{% url 'account-myads' %}">
              <i class="lni-layers"></i>
              <span>My Ads</span>
            </a>
          </li>
          <li>
            <a href="{% url 'offermessages' %}">
              <i class="lni-envelope"></i>
              <span>Offers/Messages</span>
            </a>
          </li>
          <li>
            <a href="{% url 'payments' %}">
              <i class="lni-wallet"></i>
              <span>Payments</span>
            </a>
          </li>
          <li>
            <a href="{% url 'account-favourite-ads' %}">
              <i class="lni-heart"></i>
              <span>My Favourites</span>
            </a>
          </li>
          <li>
            <a href="{% url 'privacy-setting' %}">
              <i class="lni-star"></i>
              <span>Privacy Settings</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="lni-enter"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</div>
